.cache/
.ssh/
.bash_history
.lesshst
.profile
.bashrc
.bash_logout
-la
.bash_history
.bash_logout
.bashrc
.lesshst
.profile
.docker
-la
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
kubectl
.env
*.pem
*.key

# Terraform local/sensitive files
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/.terraform.tfstate.lock.info
